#game-grid {
  border-collapse: collapse;
  margin: 20px auto;
}

.cell {
  width: 2.3vw;
  height: 2.3vw;
  border: 1px solid #000;
  background-color: transparent;
}

.player {
  background-image: url(/assets/images/baseshipa.ico); 
  background-repeat: no-repeat;
  background-size: 2.3vw 2.3vw;
}

.alien {
  background-image: url(/assets/images/saucer1a.ico);
  background-repeat: no-repeat; 
  background-size: 2.3vw 2.3vw;
}

.bullet {
  background-color: #0f0; /* Green color for bullets */
}

body{
  background-color: #010101;
  color: rgb(254, 254, 254);
}